
CC 		?= cc
HOSTCC 		?= ${CC}
CPP 		?= ${CC} -e
AR 		?= ar

PREFIX 		?= /usr/local
BINDIR 		= ${PREFIX}/bin
INCDIR 		= ${PREFIX}/include
DATAROOTDIR 	= ${PREFIX}/share
MANDIR 		= ${DATAROOTDIR}/man
.if ${PREFIX} == /usr
SYSCONFDIR 	= /etc
.else
SYSCONFDIR 	= ${PREFIX}/etc
.endif


DBG 		=
CFLAGS 		+= -O3
LDFLAGS 	+= -s

MK_PROFILE 	= no
MK_PIC 		= no

MANTARGET 	= man
