
CC 		?= cc
HOSTCC 		?= ${CC}
CPP 		?= ${CC} -e
AR 		?= ar

PREFIX 		?= /usr/local
BINDIR 		= ${PREFIX}/bin
INCDIR 		= ${PREFIX}/include
LIBDIR 		= ${PREFIX}/lib
PKGCONFDIR 	= ${LIBDIR}/pkgconfig
DATAROOTDIR 	= ${PREFIX}/share
MANDIR 		= ${DATAROOTDIR}/man
SYSCONFDIR 	= ${PREFIX}/etc

DBG 		=
CFLAGS 		+= -O3
LDFLAGS 	+= -s 

MK_PROFILE 	= no
MK_PIC 		= no

MANTARGET 	= man
